**/node_modules/*
.vscode
banner/npm-debug\.log

generate-test-results/testResults\.html

test-results\.json
generate-test-results/screenshots

generate-test-results/test-result\.json

generate-test-results/test/

api/package-lock\.json

ui/package-lock\.json

**/.nyc_output/
**/coverage/
**/jest_coverage/
ui/app/babel/config.js

.idea/
**/tmp
node_modules
api/build/
api/tsconfig.tsbuildinfo
